</div>
</div>
<aside id="page" class="group">
<div class="gutter group">
    <h2>Archive</h2>
    <div id="archive"><ul class="month">
        {% for post in site.posts %}
       
    {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
    {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
        {% if month != nmonth %}
            {% if forloop.index != 1 %}</li></ul></ul><ul class="month">{% endif %}
            <li>{{ post.date | date: '%B %Y' }}<ul>
        {% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
    </div>
    <script>
        $(document).ready(function(){
            $('ul.month ul').hide();
            $('ul.month').click(function(){$(this).find('ul').toggle()});
            
        });
    </script>
    <h2>Tags</h2>

    <div class="tag-cloud">
  {% for tag in site.tags %}
    <a href="#posts-tag" 
      id="{{ forloop.index }}" class="__tag" style="margin: 5px">{{tag[0]}}
    </a>
    <ul id="list_{{ forloop.index }}" style="display:none;">
      {% for post in tag[1] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
        <h2>Tagged Posts</h2>
</div>

<div id="posts-tags" class="post-list">
    
    </div>

<script type="text/javascript">
  $(document).ready(function(){
    var minFont = 10.0,
        maxFont = 30.0,
        diffFont = maxFont - minFont,
        size = 0;
       
    {% assign max = 1.0 %}
    {% for tag in site.tags %}
      {% if tag[1].size > max %}
        {% assign max = tag[1].size %}
      {% endif %}
    {% endfor %}
            
    {% for tag in site.tags %}
      size = (Math.log({{ tag[1].size }}) / Math.log({{ max }})) * diffFont
             + minFont;
      $("#{{ forloop.index }}").css("font-size", size + "px");
    {% endfor %}

    $('.tag-cloud a[class^="__tag"]').click(function() {
      $('.post-list').empty();
      $('#list_' + $(this).attr('id')).each(function() {
         $('.post-list').append('<ul>' + $(this).html() + '</ul>');
      });
    });
  });
</script>
</div>  
</aside>
<!-- secondary-content --> 

</div><!-- end content -->
<footer role="contentinfo" class="group">
	<div class="gutter">
    	<h2 class="structural">Footer</h2>
    	<ul>
        	<li>&copy; Copyright 2017 Chris Chudleigh</li>
    		
             <!--<li class="right"><a class="icon" href="" title="<?php _e('RSS'); ?>"><img src="/images/rss-8bit.png" class="icon" alt="rss" width="20" height="21" /></a></li> -->
            <li class="right"><a href="http://twitter.com/chris_chudleigh" title="twitter" class="icon"><img src="/images/twitter-8bit.png" alt="rss" width="20" height="21" class="icon" /></a></li>
           <li class="right"><a href="http://au.linkedin.com/in/chrischudleigh
" title="linked in" class="icon"><img src="/images/li-8bit.png" alt="rss" width="20" height="21" class="icon" /></a></li>
           
        </ul>
	</div>
	</footer><!-- end footer -->

</div> 
</body>
</html>
