<aside id="page" class="group">
<div class="gutter group">

 
</div>  
</aside>
<!-- secondary-content --> 
</div>
</div>
</div><!-- end content -->
<footer role="contentinfo" class="group">
	<div class="gutter">
    	<h2 class="structural">Footer</h2>
    	<ul>
        	<li>&copy; Copyright 2014 Chris Chudleigh</li>
    		
            <li class="right"><a class="icon" href="" title="<?php _e('RSS'); ?>"><img src="/images/rss-8bit.png" class="icon" alt="rss" width="20" height="21" /></a></li>
            <li class="right"><a href="http://twitter.com/chris_chudleigh" title="twitter" class="icon"><img src="/images/twitter-8bit.png" alt="rss" width="20" height="21" class="icon" /></a></li>
            <li class="right"><a href="http://au.linkedin.com/in/chrischudleigh
" title="linked in" class="icon"><img src="/images/li-8bit.png" alt="rss" width="20" height="21" class="icon" /></a></li>
            
        </ul>
	</div>
	</footer><!-- end footer -->

</div> 
</body>
</html>
